<h1>task details</h1>

  <div>
      <% if @task.completed == false %>
        <i class="far fa-square"></i>
          <% else %>
        <i class="fas fa-check-square"></i>
    <% end %>
      <p><%= @task.title %></p>
      <h2><%= @task.details %></h2>

  </div>
